<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu" class="col-md-3 row p-0 d-flex flex-column bd-highlight mb-3" style="width: 22%">
  <div class=" bd-highlight row mt-2">
    <a  href="/menu1" class="col-md-12 p-2 ps-4  rounded-start rounded-pill">
      <img src="/image/fc.png">
      Quản lý và tự động hoá quy trình
    </a>
  </div>
  <div class=" bd-highlight row  ">
    <a href="/menu2" class="col-md-12 p-2 ps-4  rounded-start rounded-pill">
      <img src="/image/as.png">
      Giao việc tự động
    </a>
  </div>
  <div class=" bd-highlight row  ">
    <a href="/menu3"  class="col-md-12 p-2 ps-4 rounded-start rounded-pill">
      <img src="/image/folder.png">
      Tài liệu tôi được chia sẻ
    </a>
  </div>
  <div class=" bd-highlight row  ">
    <a href="/menu4"  class="col-md-12 p-2 ps-4 rounded-start rounded-pill">
      <img src="/image/share.png">
      Tài liệu tôi đã chia sẻ
    </a>
  </div>
  <div class=" bd-highlight row  ">
    <a href="menu5"  class="col-md-12 p-2 ps-4 rounded-start rounded-pill">
      <img src="/image/star.png">
      Tài liệu có gắn dấu sao
    </a>
  </div>
  <div class=" bd-highlight row ">
    <a href="menu6"  class="col-md-12 p-2 ps-4 rounded-start rounded-pill">
      <img src="/image/sf.png">
      Kiểm tra tính toàn vẹn
    </a>
  </div>
</div>
</body>
</html>