<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{layout/header :: link}"></th:block>
        <th:block th:insert="~{layout/header :: meta}"></th:block>
        <link th:href="@{../css/style.css}" rel="stylesheet" />
        <th:block th:insert="~{layout/header :: script}"></th:block>
    </head>
<body>
<div class="container-fluid">
    <div class="row">
        <th:block th:insert="~{layout/header :: header}"></th:block>
        <th:block th:insert="~{layout/headhelp :: header2}"></th:block>
        <th:block th:insert="~{layout/menu :: menu}"></th:block>
        <th:block th:insert="~{content/indexcontent :: content}"></th:block>
        <th:block th:insert="~{content/content :: body/script}"></th:block>
    </div>
</div>
</body>
</html>